fastapi==0.104.1
uvicorn[standard]==0.24.0
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
geoalchemy2==0.14.2
shapely
python-multipart==0.0.6
gpxpy==1.6.2
pyproj==3.6.1
python-jose==3.3.0
passlib[pbkdf2_sha256]==1.7.4
pydantic[email]
pydantic-settings
alembic
slowapi
Pillow>=10.0.0
pytest
httpx==0.24.1
requests
